@media (max-width: 640px) {
  .profile-container {
    flex-direction: column-reverse !important;
    text-align: center;
  }
  .profile-preview {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px !important;
  }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}